{{>nav}}



<h1>{{contact.first_name}} {{contact.last_name}}</h1>
<h3>Address:</h3><h6> {{contact.line_1}} {{contact.line_2}}</h6>
<h6> {{contact.city}} {{contact.zip}}</h6>
<h6> {{contact.phone_number}}</h6>
<h6> {{contact.email_address}}</h6>
<img src="{{contact.image_url}}" alt="">
